<%= render('layouts/error', :object => @content) %>

  <%= form_for  [@story, @content] do |f| %>
  <div class="form-group">
    <%= f.label :line %>
    <%= f.text_field :line, class: "form-control" %>
  </div>
    <%= f.submit :class => "btn btn-success" %>
    <%= f.hidden_field( :image, :value => "#{@random_image}") %>
  <% end %>
