<h1><%= @story.title %></h1>

  <p>
  <% @story.contents.each do |content| %>
    <span><%= link_to content.line, edit_story_content_path(@story, content), :class => "line_link" %>.  </span>
  <% end %>
  </p>

<p><%= link_to "Add a new line",  new_story_content_path(@story) %></p>
<hr>

                                                        <!-- CH & V-$ wonder: "IZ you sure?"" -->
<p><%= link_to "Delete Story", story_path(@story), :data => {confirm: "Is you sure?", method: "delete"} %></p>
<p><%= link_to "Home", root_path %></p>
